* {
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.head {
    background-color: white;
    height: 35px;
    padding: 10px;
}

body {
    background-image:url(FLOWER.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding: 10px 0;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.text-box h3 {
    margin-top: 100px;
    margin-bottom: 50px;
}

.text-box h2 {
    font-size: 50px;   
}

.text-box a {
       display: inline-block;
       text-decoration: none;
       color: white;
       background-color: brown;
       padding: 20px;
       border-radius: 90px;
       margin-top: 40px;
       margin-right: 40px;
}

button {
    color: black;
    padding: 15px;
    cursor: pointer;
    border-radius: 110PX;
    margin-right: 30px;
}

.button{
    background-color: coral;
    color: white;
    margin-top: 50px;
}

.text-box2 h4 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.text-box2 h3 {
    text-align: center;
    font-size: 40px;
}